h3{
	margin-top: 50px;
	text-align: center;
	font-weight: bold
}

p{
	font-weight: bold;
	text-align: center;
	line-height: 70px;
	font-size: 16px
}

.fa, .fab, .fad, .fal, .far, .fas{
	display: block;
	text-align: center;
	font-size: 300px;
	color: #1A4E61
}

.new{
	text-align: center;
	display: block;
	margin-top: 10px;
	cursor: pointer;
	color: #0384fc;
	text-decoration: none
}

