<!-- header partial -->
<%- include("../partials/header",{
	file: "campgrounds/new"
}) %>


<!-- navbar partial -->
<%- include("../partials/navbar") %>


<!-- some middle headings -->
<h2 class="text-center">New Campground</h2>

<!-- form -->
<form action="/campgrounds" method="POST" novalidate class="needs-validation">
  <div class="mb-3 wid">
    <input class="form-control" type="text" name="name" placeholder="Name" id="name" pattern = "[a-zA-Z0-9][a-zA-Z0-9'\s]*" maxlength="18" autocomplete="off" required>
	<!-- this pattern "[a-zA-Z0-9][a-zA-Z0-9'\s]*" allows letters, numbers and apostrophe with spaces but restricts the user to start the input with space (allows user to start with a-z,A-Z or 0-9)so it eventually limits inputs with only spaces -->
	<div id="error1"></div>
  </div>
  <div class="mb-3 wid">
    <input class="form-control" type="url" name="image" placeholder="Image URL" id="image"                       pattern="https://.*" autocomplete="off" required>
	<!-- this pattern "https://.*" allows https:// URL and restricts the user to start with any thing other than https://. The dot in pattern denotes any character can follow https://-->
	<div id="error2"></div>
  </div>
  <div class="mb-3">
	<div class="input-group">
  		<span class="input-group-text">$</span>
  		<input type="text" class="form-control" name="price" placeholder="Price Per Night" id="price"                 pattern="[1-9][0-9]{0,1}" autocomplete="off" required>
		<!--this pattern "[1-9][0-9]{0,1}" allows numbers between 1 to 99. No zeros/spaces at the beginning of number are allowed. Curly brackets are used to limit the number of characters -->
	</div>
	<div class="wid" id="error3"></div>
  </div>
  <div class="mb-3 wid">
    <textarea class="form-control" name="description" placeholder="Description" id="desc"                         maxlength="1500" autocomplete="off" required></textarea>
	<!-- pattern attribute is not supported by textarea tag-->
	<input type="text" id="counter_campground" readonly>
	<div id="error4"></div>
  </div>
  <div class="mb-3 wid">
	<button type="submit" class="btn btn-primary" id="btn2">Submit</button>
  </div>
</form>
<div id="anchor">
	<a id="GoBack" onclick="history.back(-1)">Go Back</a>
</div>

<!-- form_validation partial -->
<%- include("../partials/form_validation_campground") %>

<!-- footer partial -->
<%- include("../partials/footer",{
	file: "campgrounds/app"
}) %>
