.wid {
	width: 30%;
	margin: 0 auto;
}

h1 {
	margin-top: 120px
}

button[type="submit"] {
	width: 100%
}

#error1, #error2, #error3 {
	color: red;
	text-align: justify;
    text-justify: inter-word;
}

#domains {
	color: rgba(255,0,0,0.6);
	font-size: 12px
}