<!-- header partial -->
<%- include("../partials/header",{
	file: "users/login"
}) %>


<!-- navbar partial -->
<%- include("../partials/navbar") %>


<!-- some middle headings -->
<h1 class="text-center">Login!</h1>

<!-- form -->
<form action="/login" method="POST" novalidate class="needs-validation">
  <div class="mb-3 wid">
    <input type="text" class="form-control" placeholder="Username" name="username" id="username"                 minlength="3" maxlength="16" pattern="[a-zA-Z0-9_]*" autocomplete="off" required>
	<div id="error1"></div>
  </div>
  <div class="mb-3 wid">
    <input type="password" class="form-control" placeholder="Password" name="password" id="password"             pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" autocomplete="on" required>
	<div id="error3"></div>
  </div>
  <div class="mb-3 wid">
	<button type="submit" class="btn btn-primary">Login</button>
  </div>
</form>

<!-- form_validation partial -->
<%- include("../partials/form_validation_user") %>

<!-- footer partial -->
<%- include("../partials/footer",{
	file: "users/app"
}) %>